In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd

In [3]:
# Specify the path to the Microsoft Edge WebDriver executable
edge_driver_path = 'C:\webdrivers\msedgedriver.exe'

# Create an EdgeDriverService instance with the executable path
service = webdriver.edge.service.Service(edge_driver_path)

# Create an Endge WebDriver instance using the service
driver = webdriver.Edge(service=service)

# Navigate to the desired webpage
driver.get('https://pokemondb.net/pokedex/all')

# Maximize the browser window
driver.maximize_window()

In [8]:
#number
pokemon_number = driver.find_elements(By.XPATH, '//tbody/tr/td[1]')

#name
pokemon_name = driver.find_elements(By.XPATH,'//tbody/tr/td[2]')

#type
pokemon_type = driver.find_elements(By.XPATH,'//tbody/tr/td[3]')

#total
pokemon_total = driver.find_elements(By.XPATH,'//tbody/tr/td[4]')

#HP
pokemon_hp = driver.find_elements(By.XPATH,'//tbody/tr/td[5]')

#Attack
pokemon_attack = driver.find_elements(By.XPATH,'//tbody/tr/td[6]')

#Defense
pokemon_defense = driver.find_elements(By.XPATH,'//tbody/tr/td[7]')

#Sp.Atk
pokemon_sp_attack = driver.find_elements(By.XPATH,'//tbody/tr/td[8]')

#SP.Def
pokemon_sp_defense = driver.find_elements(By.XPATH,'//tbody/tr/td[9]')

#Speed
pokemon_speed = driver.find_elements(By.XPATH,'//tbody/tr/td[10]')

In [9]:
pokemon_results = []

In [4]:
# Iterate over the elements to extract Pokémon data
for i in range(len(pokemon_number)):
    pokemon_dictionary = {
        'Number': pokemon_number[i].text,
        'Name': pokemon_name[i].text,
        'Type': pokemon_type[i].text,
        'Total': pokemon_total[i].text,
        'HP': pokemon_hp[i].text,
        'Attack': pokemon_attack[i].text,
        'Defense': pokemon_defense[i].text,
        'SP.Attack': pokemon_sp_attack[i].text,
        'SP.Defense': pokemon_sp_defense[i].text,
        'Speed': pokemon_speed[i].text
    }

    pokemon_results.append(pokemon_dictionary)

NameError: name 'pokemon_name' is not defined

In [11]:
dataframe_pokemon = pd.DataFrame(pokemon_results)

In [12]:
dataframe_pokemon

,Name,Type,Total,HP,Attack,Defense,SP.Attack,SP.Defense,Speed
0,Bulbasaur,GRASS\nPOISON,318,45,49,49,65,65,45
1,Ivysaur,GRASS\nPOISON,405,60,62,63,80,80,60
2,Venusaur,GRASS\nPOISON,525,80,82,83,100,100,80
3,Venusaur\nMega Venusaur,GRASS\nPOISON,625,80,100,123,122,120,80
4,Charmander,FIRE,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...
1190,Iron Valiant,FAIRY\nFIGHTING,590,74,130,90,120,60,116
1191,Koraidon,FIGHTING\nDRAGON,670,100,135,115,85,100,135
1192,Miraidon,ELECTRIC\nDRAGON,670,100,85,100,135,115,135
1193,Walking Wake,WATER\nDRAGON,590,99,83,91,125,83,109
1194,Iron Leaves,GRASS\nPSYCHIC,590,90,130,88,70,108,104

In [13]:
#replace '\n' with '/'
dataframe_pokemon['Name'] = dataframe_pokemon['Name'].apply(lambda x: x.replace ('\n', '/'))

In [14]:
#replace '\n' with a comma
dataframe_pokemon['Type'] = dataframe_pokemon['Type'].apply(lambda x: x.replace ('\n', ','))

In [15]:
#updated dataframe
dataframe_pokemon

,Name,Type,Total,HP,Attack,Defense,SP.Attack,SP.Defense,Speed
0,Bulbasaur,"GRASS,POISON",318,45,49,49,65,65,45
1,Ivysaur,"GRASS,POISON",405,60,62,63,80,80,60
2,Venusaur,"GRASS,POISON",525,80,82,83,100,100,80
3,Venusaur/Mega Venusaur,"GRASS,POISON",625,80,100,123,122,120,80
4,Charmander,FIRE,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...
1190,Iron Valiant,"FAIRY,FIGHTING",590,74,130,90,120,60,116
1191,Koraidon,"FIGHTING,DRAGON",670,100,135,115,85,100,135
1192,Miraidon,"ELECTRIC,DRAGON",670,100,85,100,135,115,135
1193,Walking Wake,"WATER,DRAGON",590,99,83,91,125,83,109
1194,Iron Leaves,"GRASS,PSYCHIC",590,90,130,88,70,108,104

In [16]:
#Dataframe to Excel
dataframe_pokemon.to_excel('pokemon_database_cleaned.xlsx', index=False)