In [26]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import urllib3

In [88]:
# Suppress the InsecureRequestWarning
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

url = 'https://wovodat.phivolcs.dost.gov.ph/volcano/erupt-history?page=1'
page = requests.get(url), verify=False)

soup = BeautifulSoup(page.text,'html.parser')

IndentationError: expected an indented block after 'for' statement on line 4 (1000201030.py, line 5)

In [51]:
soup.find('table', class_ = 'table table-striped table-bordered')

<table class="table table-striped table-bordered"><thead>
<tr><th>Name</th><th>Start Time</th><th>Eruption</th></tr><tr class="filters" id="arrangement-gridview-filters"><td> </td><td> </td><td> </td></tr>
</thead>
<tbody>
<tr data-key="0"><td>Bulusan</td><td>2022 Jun 12 03:37 AM</td><td>Phreatic</td></tr>
<tr data-key="1"><td>Bulusan</td><td>2022 Jun 05 10:37 AM</td><td>Phreatic</td></tr>
<tr data-key="2"><td>Taal</td><td>2021 Jul 01-2022 Mar 27</td><td>Phreatomagmatic bursts</td></tr>
<tr data-key="3"><td>Taal</td><td>2020 Jan 12 1:00 PM</td><td>Hydrovolcanic (phreatic, phreatomagmatic, hydrothermal)</td></tr>
<tr data-key="4"><td>Mayon</td><td>2018 Jan 13-Mar 18</td><td>*Lava fountaining</td></tr>
<tr data-key="5"><td>Kanlaon</td><td>2017 Dec 20 02:33 AM</td><td>Phreatic</td></tr>
<tr data-key="6"><td>Kanlaon</td><td>2017 Dec 9 09:47 AM</td><td>Phreatic</td></tr>
<tr data-key="7"><td>Bulusan</td><td>2017 Jun 5 10:29 PM</td><td>Phreatic</td></tr>
<tr data-key="8"><td>Bulusan</td><td>2017 Mar 2 01:57 PM - 02:23 PM</td><td>Phreatic</td></tr>
<tr data-key="9"><td>Bulusan</td><td>2016 Dec 29 14:40 PM</td><td>Phreatic</td></tr>
<tr data-key="10"><td>Bulusan</td><td>2016 Oct 23 15:31 PM</td><td>Phreatic</td></tr>
<tr data-key="11"><td>Bulusan</td><td>2016 Oct 21 00:34 AM</td><td>Phreatic</td></tr>
<tr data-key="12"><td>Bulusan</td><td>2016 Oct 19 04:58 AM</td><td>Phreatic</td></tr>
<tr data-key="13"><td>Bulusan</td><td>2016 Oct 17 07:36 AM</td><td>Phreatic</td></tr>
<tr data-key="14"><td>Bulusan</td><td>2016 Oct 16 03:03AM</td><td>Phreatic</td></tr>
<tr data-key="15"><td>Bulusan</td><td>2016 Sept 30 06:50AM</td><td>Phreatic</td></tr>
<tr data-key="16"><td>Bulusan</td><td>2016 Sept 16 16:54 PM</td><td>Phreatic</td></tr>
<tr data-key="17"><td>Bulusan</td><td>2016 Jun 19 1:03 PM</td><td>Phreatic</td></tr>
<tr data-key="18"><td>Kanlaon</td><td>2016 Jun 18 09:19 AM</td><td>Phreatic</td></tr>
<tr data-key="19"><td>Bulusan</td><td>2016 Jun 10 11:35 AM</td><td>Phreatic</td></tr>
</tbody></table>

In [50]:
soup.find_all('table')[1]

<table class="table table-striped table-bordered"><thead>
<tr><th>Name</th><th>Start Time</th><th>Eruption</th></tr><tr class="filters" id="arrangement-gridview-filters"><td> </td><td> </td><td> </td></tr>
</thead>
<tbody>
<tr data-key="0"><td>Bulusan</td><td>2022 Jun 12 03:37 AM</td><td>Phreatic</td></tr>
<tr data-key="1"><td>Bulusan</td><td>2022 Jun 05 10:37 AM</td><td>Phreatic</td></tr>
<tr data-key="2"><td>Taal</td><td>2021 Jul 01-2022 Mar 27</td><td>Phreatomagmatic bursts</td></tr>
<tr data-key="3"><td>Taal</td><td>2020 Jan 12 1:00 PM</td><td>Hydrovolcanic (phreatic, phreatomagmatic, hydrothermal)</td></tr>
<tr data-key="4"><td>Mayon</td><td>2018 Jan 13-Mar 18</td><td>*Lava fountaining</td></tr>
<tr data-key="5"><td>Kanlaon</td><td>2017 Dec 20 02:33 AM</td><td>Phreatic</td></tr>
<tr data-key="6"><td>Kanlaon</td><td>2017 Dec 9 09:47 AM</td><td>Phreatic</td></tr>
<tr data-key="7"><td>Bulusan</td><td>2017 Jun 5 10:29 PM</td><td>Phreatic</td></tr>
<tr data-key="8"><td>Bulusan</td><td>2017 Mar 2 01:57 PM - 02:23 PM</td><td>Phreatic</td></tr>
<tr data-key="9"><td>Bulusan</td><td>2016 Dec 29 14:40 PM</td><td>Phreatic</td></tr>
<tr data-key="10"><td>Bulusan</td><td>2016 Oct 23 15:31 PM</td><td>Phreatic</td></tr>
<tr data-key="11"><td>Bulusan</td><td>2016 Oct 21 00:34 AM</td><td>Phreatic</td></tr>
<tr data-key="12"><td>Bulusan</td><td>2016 Oct 19 04:58 AM</td><td>Phreatic</td></tr>
<tr data-key="13"><td>Bulusan</td><td>2016 Oct 17 07:36 AM</td><td>Phreatic</td></tr>
<tr data-key="14"><td>Bulusan</td><td>2016 Oct 16 03:03AM</td><td>Phreatic</td></tr>
<tr data-key="15"><td>Bulusan</td><td>2016 Sept 30 06:50AM</td><td>Phreatic</td></tr>
<tr data-key="16"><td>Bulusan</td><td>2016 Sept 16 16:54 PM</td><td>Phreatic</td></tr>
<tr data-key="17"><td>Bulusan</td><td>2016 Jun 19 1:03 PM</td><td>Phreatic</td></tr>
<tr data-key="18"><td>Kanlaon</td><td>2016 Jun 18 09:19 AM</td><td>Phreatic</td></tr>
<tr data-key="19"><td>Bulusan</td><td>2016 Jun 10 11:35 AM</td><td>Phreatic</td></tr>
</tbody></table>

In [54]:
table = soup.find_all('table')[1]

In [55]:
print(table)

<table class="table table-striped table-bordered"><thead>
<tr><th>Name</th><th>Start Time</th><th>Eruption</th></tr><tr class="filters" id="arrangement-gridview-filters"><td> </td><td> </td><td> </td></tr>
</thead>
<tbody>
<tr data-key="0"><td>Bulusan</td><td>2022 Jun 12 03:37 AM</td><td>Phreatic</td></tr>
<tr data-key="1"><td>Bulusan</td><td>2022 Jun 05 10:37 AM</td><td>Phreatic</td></tr>
<tr data-key="2"><td>Taal</td><td>2021 Jul 01-2022 Mar 27</td><td>Phreatomagmatic bursts</td></tr>
<tr data-key="3"><td>Taal</td><td>2020 Jan 12 1:00 PM</td><td>Hydrovolcanic (phreatic, phreatomagmatic, hydrothermal)</td></tr>
<tr data-key="4"><td>Mayon</td><td>2018 Jan 13-Mar 18</td><td>*Lava fountaining</td></tr>
<tr data-key="5"><td>Kanlaon</td><td>2017 Dec 20 02:33 AM</td><td>Phreatic</td></tr>
<tr data-key="6"><td>Kanlaon</td><td>2017 Dec 9 09:47 AM</td><td>Phreatic</td></tr>
<tr data-key="7"><td>Bulusan</td><td>2017 Jun 5 10:29 PM</td><td>Phreatic</td></tr>
<tr data-key="8"><td>Bulusan</td><td>2017 Mar 2 01:57 PM - 02:23 PM</td><td>Phreatic</td></tr>
<tr data-key="9"><td>Bulusan</td><td>2016 Dec 29 14:40 PM</td><td>Phreatic</td></tr>
<tr data-key="10"><td>Bulusan</td><td>2016 Oct 23 15:31 PM</td><td>Phreatic</td></tr>
<tr data-key="11"><td>Bulusan</td><td>2016 Oct 21 00:34 AM</td><td>Phreatic</td></tr>
<tr data-key="12"><td>Bulusan</td><td>2016 Oct 19 04:58 AM</td><td>Phreatic</td></tr>
<tr data-key="13"><td>Bulusan</td><td>2016 Oct 17 07:36 AM</td><td>Phreatic</td></tr>
<tr data-key="14"><td>Bulusan</td><td>2016 Oct 16 03:03AM</td><td>Phreatic</td></tr>
<tr data-key="15"><td>Bulusan</td><td>2016 Sept 30 06:50AM</td><td>Phreatic</td></tr>
<tr data-key="16"><td>Bulusan</td><td>2016 Sept 16 16:54 PM</td><td>Phreatic</td></tr>
<tr data-key="17"><td>Bulusan</td><td>2016 Jun 19 1:03 PM</td><td>Phreatic</td></tr>
<tr data-key="18"><td>Kanlaon</td><td>2016 Jun 18 09:19 AM</td><td>Phreatic</td></tr>
<tr data-key="19"><td>Bulusan</td><td>2016 Jun 10 11:35 AM</td><td>Phreatic</td></tr>
</tbody></table>

In [65]:
history_record_titles = table.find_all('th')

In [66]:
history_record_titles

In [67]:
history_table_titles = [title.text for title in history_record_titles]

In [70]:
print(history_table_titles)

['Name', 'Start Time', 'Eruption']

In [72]:
df = pd.DataFrame(columns = history_table_titles)
df

Empty DataFrame
Columns: [Name, Start Time, Eruption]
Index: []

In [73]:
soup.find_all('tr')

[<tr><td colspan="3" style="padding:0 5px"><select class="form-control" id="select-opt" name="volcan" style="width:150px"><option value="">Select Volcano</option><option value="593">Babuyan Claro</option><option value="578">Banahaw</option><option value="29">Bud Dajo</option><option value="571">Bulusan</option><option value="590">Cagua</option><option value="592">Didicas</option><option value="562">Hibok-hibok</option><option value="595">Iraya</option><option value="575">Iriga</option><option value="565">Kanlaon</option><option value="555">Makaturing</option><option value="552">Matutum</option><option value="574">Mayon</option><option value="583">Pinatubo</option><option value="558">Ragang</option><option value="1610">Smith</option><option value="580">Taal</option></select></td></tr>,
 <tr><td> </td></tr>,
 <tr><td><span style="padding:0 5px">Range:</span></td><td><input class="form-control" id="sdate" name="sdate" placeholder="YYYY-MM-DD" style="width:150px" type="text" value=""/>
 </td><td style="padding:0 5px"><input class="form-control" id="edate" name="edate" placeholder="YYYY-MM-DD" style="width:150px" type="text" value=""/>
 </td><td style="padding:0 5px"><button class="btn btn-primary" id="btn-search" name="btn-search" type="submit">Search</button></td></tr>,
 <tr><th>Name</th><th>Start Time</th><th>Eruption</th></tr>,
 <tr class="filters" id="arrangement-gridview-filters"><td> </td><td> </td><td> </td></tr>,
 <tr data-key="0"><td>Bulusan</td><td>2022 Jun 12 03:37 AM</td><td>Phreatic</td></tr>,
 <tr data-key="1"><td>Bulusan</td><td>2022 Jun 05 10:37 AM</td><td>Phreatic</td></tr>,
 <tr data-key="2"><td>Taal</td><td>2021 Jul 01-2022 Mar 27</td><td>Phreatomagmatic bursts</td></tr>,
 <tr data-key="3"><td>Taal</td><td>2020 Jan 12 1:00 PM</td><td>Hydrovolcanic (phreatic, phreatomagmatic, hydrothermal)</td></tr>,
 <tr data-key="4"><td>Mayon</td><td>2018 Jan 13-Mar 18</td><td>*Lava fountaining</td></tr>,
 <tr data-key="5"><td>Kanlaon</td><td>2017 Dec 20 02:33 AM</td><td>Phreatic</td></tr>,
 <tr data-key="6"><td>Kanlaon</td><td>2017 Dec 9 09:47 AM</td><td>Phreatic</td></tr>,
 <tr data-key="7"><td>Bulusan</td><td>2017 Jun 5 10:29 PM</td><td>Phreatic</td></tr>,
 <tr data-key="8"><td>Bulusan</td><td>2017 Mar 2 01:57 PM - 02:23 PM</td><td>Phreatic</td></tr>,
 <tr data-key="9"><td>Bulusan</td><td>2016 Dec 29 14:40 PM</td><td>Phreatic</td></tr>,
 <tr data-key="10"><td>Bulusan</td><td>2016 Oct 23 15:31 PM</td><td>Phreatic</td></tr>,
 <tr data-key="11"><td>Bulusan</td><td>2016 Oct 21 00:34 AM</td><td>Phreatic</td></tr>,
 <tr data-key="12"><td>Bulusan</td><td>2016 Oct 19 04:58 AM</td><td>Phreatic</td></tr>,
 <tr data-key="13"><td>Bulusan</td><td>2016 Oct 17 07:36 AM</td><td>Phreatic</td></tr>,
 <tr data-key="14"><td>Bulusan</td><td>2016 Oct 16 03:03AM</td><td>Phreatic</td></tr>,
 <tr data-key="15"><td>Bulusan</td><td>2016 Sept 30 06:50AM</td><td>Phreatic</td></tr>,
 <tr data-key="16"><td>Bulusan</td><td>2016 Sept 16 16:54 PM</td><td>Phreatic</td></tr>,
 <tr data-key="17"><td>Bulusan</td><td>2016 Jun 19 1:03 PM</td><td>Phreatic</td></tr>,
 <tr data-key="18"><td>Kanlaon</td><td>2016 Jun 18 09:19 AM</td><td>Phreatic</td></tr>,
 <tr data-key="19"><td>Bulusan</td><td>2016 Jun 10 11:35 AM</td><td>Phreatic</td></tr>]

In [74]:
column_data = table.find_all('tr')

In [85]:
for row in column_data[2:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    
    length = len(df)
    df.loc[length] = individual_row_data

In [86]:
df

,Name,Start Time,Eruption
0,Bulusan,2022 Jun 12 03:37 AM,Phreatic
1,Bulusan,2022 Jun 05 10:37 AM,Phreatic
2,Taal,2021 Jul 01-2022 Mar 27,Phreatomagmatic bursts
3,Taal,2020 Jan 12 1:00 PM,"Hydrovolcanic (phreatic, phreatomagmatic, hydr..."
4,Mayon,2018 Jan 13-Mar 18,*Lava fountaining
5,Kanlaon,2017 Dec 20 02:33 AM,Phreatic
6,Kanlaon,2017 Dec 9 09:47 AM,Phreatic
7,Bulusan,2017 Jun 5 10:29 PM,Phreatic
8,Bulusan,2017 Mar 2 01:57 PM - 02:23 PM,Phreatic
9,Bulusan,2016 Dec 29 14:40 PM,Phreatic
10,Bulusan,2016 Oct 23 15:31 PM,Phreatic
11,Bulusan,2016 Oct 21 00:34 AM,Phreatic
12,Bulusan,2016 Oct 19 04:58 AM,Phreatic
13,Bulusan,2016 Oct 17 07:36 AM,Phreatic
14,Bulusan,2016 Oct 16 03:03AM,Phreatic
15,Bulusan,2016 Sept 30 06:50AM,Phreatic
16,Bulusan,2016 Sept 16 16:54 PM,Phreatic
17,Bulusan,2016 Jun 19 1:03 PM,Phreatic
18,Kanlaon,2016 Jun 18 09:19 AM,Phreatic
19,Bulusan,2016 Jun 10 11:35 AM,Phreatic

In [87]:
df.to_csv(r'C:\Users\user\Desktop\Web Scraping\Test.csv', index = False)